
.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid gray;
    cursor: pointer;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}

button {
    cursor: pointer;
}