.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    font-size: 23px;

}

.dialog a.activeLink  {
    color: #bbbb2e;
}

.dialogsItems img {
    width: 30px;
    height: 30px;
    border-radius: 30px;

}

.dialog a{
    text-decoration: none;
    color: white;
}

.messages {
    padding: 10px;
}

.message {

}



